*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

*.jks
*.keystore
*.p12
*.key
*.der
.env
.env.*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.log
/releases/
/crashlytics-build.properties
